// RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}


// GLOBALS
$blue: #246EB9;
$purple: #8353F2;
$black: #2A2D34;
$dark-gray: #3E4455;
$light-gray: #f2f2f2;
$red: #F87060;
$white: #ffffff;
$neon: #0FF4C6;

$font-base: 'Fjalla One', sans-serif;

body {
  font-family: $font-base;
}

a {
  color: #08c;
}

.btn {
  font-family: $font-base;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px;
  letter-spacing: 1.5px;
  font-size: 12px;
  cursor: pointer;
  color: $white;
  display: block;
  outline: none;
  border: 0;
  border-radius: 3px;
  width: 100%;

  &.purple {
    background: $purple;
  }

  &.gray {
    background: #bbb;
  }

  &.red {
    background: $red;
  }

  &.neon {
    background: darken($neon, 5%);
  }

  &.plain {
    color: #676767;
    background: transparent;
  }

  &.black {
    background: $dark-gray;
    color: $white;
  }
}

.align-bottom {
  margin-top: auto;
}

.success-msg {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white;
  transition: all 1000ms ease;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.3);
  transition: all 1s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .fa-check {
    font-size: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    color: darken($neon, 10%);
    transform: translate(-50%, -50%);
  }
}

.t-20 { margin-top: 20px; }
.b-20 { margin-bottom: 20px; }
.t-5  { margin-top: 5px; }
.b-5  { margin-bottom: 5px; }
.b-10  { margin-bottom: 10px; }

.lowercase {
  text-transform: lowercase !important;
}

.or {
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px;
  font-weight: 300;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  border-top: 5px solid $purple;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > .navigation {
    position: relative;

    .nav-menu {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 100px;
      background: rgba($red, 0.97);
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      a {
        padding: 20px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: 1px solid rgba($white, 0.25);
        &:last-of-type {
          border-bottom: 0;
        }
      }

      .fa-times {
        position: fixed;
        top: 12px;
        right: 10px;
        color: $white;
        cursor: pointer;
        font-size: 22px;
      }

    }

    .fa-bars {
      position: absolute;
      top: 14px;
      font-size: 26px;
      cursor: pointer;
      right: 10px;
      color: #bbb;
    }
  }

  > section {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    header {
      font-size: 32px;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }
}



// Clients index
.clients {
  display: flex;
  flex-wrap: nowrap;
  background-repeat: none;
  background-size: cover;
  // background-position: top right;
  // background-image: linear-gradient(rgba($dark-gray, 0.9), rgba($dark-gray, 0.6)), url('http://playspades-online.com/images/kr.png');
  background-image: linear-gradient(rgba($dark-gray, 0.9), rgba($dark-gray, 0.6)), url('http://playspades-online.com/images/weights.jpeg');
  background-position: center;



  header {
    color: $white;
    text-transform: capitalize;
  }

  h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: lighten($black, 35%);
    margin-bottom: 10px;
  }

  .client-list {
    overflow: scroll;
    margin-bottom: 10px;
    flex-grow: 1;

    li {
      background: rgba($white, 0.8);
      box-shadow: 0 0 2px rgba(0,0,0,0.5);
      margin-bottom: 10px;
      border-radius: 3px;
      display: flex;

      .client-info {
        text-decoration: none;
        flex-grow: 1;
        padding: 10px;

        .person {
          color: $dark-gray;
          display: block;
          margin-bottom: 8px;
          text-transform: capitalize;
        }

        .sessions {
          font-size: 11px;
          display: block;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #999;
        }
      }

      .actions {
        flex: none;
        width: 50px;
        background: $black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        .fa {
          font-size: 18px;
          color: $white;
        }
      }
    }
  }
}


// New Client Page
.new-client, .edit-client {
  background: $light-gray;

  form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

// New Session Page
.new-session {
  background: $light-gray;

  header h2 {
    font-size: 18px;
    margin-top: 15px;
    color: $purple;
    font-weight: 300;
  }

  .fa-bolt {
    color: darken($light-gray, 5%);
    margin: 20px auto;
    &.green {
      color: $neon;
    }
  }
}

// Client Details Page
.client-details {
  background: linear-gradient($black, $dark-gray);

  header {
    color: $white;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  main {
    .remaining {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: lighten($dark-gray, 12%);
      border: 2px solid #ddd;
      margin: 40px auto 20px auto;
      color: $white;
      font-weight: 700;
      font-size: 34px;
      text-align: center;
      padding-top: 64px;

      h4 {
        font-size: 12px;
        text-transform: uppercase;
        color: #eee;
        font-weight: 300;
        margin-top: 10px;
        letter-spacing: 1.5px;
      }
    }
  }
}

// Forms
label.label-text {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input.input-text {
  display: block;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px 10px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.pin-holder {
  text-align: center;

  .pin-input {
    border: 1px solid #ddd;
    font-size: 28px;
    letter-spacing: 40px;
    width: 100%;
    padding: 10px 0 10px 40px;
    margin-top: 5px;

    &.greenlight {
      border: 1px solid $neon;
    }
  }
}


 // Rangeslider
.rangeslider {
  margin: 20px 0 40px 0;
  position: relative;
  background: #e6e6e6;
}
.rangeslider .rangeslider__fill,
.rangeslider .rangeslider__handle {
  position: absolute;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}
.rangeslider .rangeslider__handle:active {
  background: #999;
}
/**
 * Rangeslider - Horizontal slider
 */
.rangeslider-horizontal {
  height: 20px;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background: #27ae60;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  top: -10px;
}
/**
 * Rangeslider - Vertical slider
 */
.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width: 10px;
  background: none;
}
.rangeslider-vertical .rangeslider__fill {
  width: 100%;
  background: #27ae60;
  box-shadow: none;
  bottom: 0;
}
.rangeslider-vertical .rangeslider__handle {
  width: 30px;
  height: 10px;
  left: -10px;
}
.rangeslider-vertical .rangeslider__handle:active {
  box-shadow: none;
}
